@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background: url('https://user-images.githubusercontent.com/44476076/196070719-48006e8f-a63f-4d13-81c3-79fa3763742b.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.mt-btn {
    margin-top: 1rem;
    margin-left: 0.5rem;
}

.card-home {
    margin-top: 10rem;
}

.card-form {
    margin-top: 5rem;
}

label {
    color: white;
    font-size: 1rem;
}

input:focus {
    border-bottom: 1px solid rgb(67, 116, 161) !important;
    box-shadow: 0 1px 0 0 rgb(67, 116, 161) !important
}

.inner-div{
    width: inherit;
    position: absolute;
    top: 5%;
}

.card-list {
    margin-top: 2.8rem;
}
