
.card {
    padding: 2.5rem;
}

label {
    color: #4a148c !important;
    font-size: 1rem;
}

input:focus {
    border-bottom: 1px solid rgb(67, 116, 161) !important;
    box-shadow: 0 1px 0 0 rgb(67, 116, 161) !important
}
