<nav class="lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'home' %}" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            {% if not user.is_authenticated %}
            <li><a href="{% url 'login' %}">Entrar na conta</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Sair</a></li>
            {% endif %}
        </ul>

        <ul id="nav-mobile" class="sidenav">
            {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Entrar na conta</a></li>
            {% endif %}
            {% if user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Sair</a></li>
            {% endif %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>