{% extends 'base.html' %} {% block title %} Home {% endblock %} {% block main %}
    {% load static %}
    {% include 'nav.html' %}
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card card-home">
                    <div class="card-image">
                        <img height="300" src="{% static 'img/emails.jpg' %}">
                        <span class="card-title">Campanhas envios Emails</span>
                    </div>
                    <div class="card-content">
                        <p>
                            Veja suas campanhas, ou cadastre novas campanhas para envios de Emails.
                        </p>
                        <a href="{% url 'lists_campaigns' %}">
                            <button class="btn waves-effect indigo darken-4 mt-btn" type="button" name="action">
                                Minhas Campanhas
                                <i class="material-icons right">send</i>
                            </button>
                        </a>
                        <a href="{% url 'create_campaign' %}">
                            <button class="btn waves-effect indigo darken-4 mt-btn" type="button" name="action">
                                Criar campanha
                                <i class="material-icons right">add</i>
                            </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
