{% extends 'base.html' %} {% block main %}{% include 'nav.html' %}
    <div class="container">
        <div style="padding: 1rem; margin-top: 3rem" class="card">
            <h4 style="margin-left: 8px;">Tem certeza que deseja deletar? {{ campaign.subject }}</h4>
            <div class="row">
                <form class="col s12" method="POST"> {% csrf_token %} {{ form }}

                    <button class="btn waves-effect red lighten-1" type="submit" name="action">Confirmar
                        <i style="color: white;" class="material-icons right">send</i>
                    </button>

                </form>
            </div>
        </div>
    </div>

{% endblock %}