{% extends 'base.html' %} {% block title %} Login {% endblock %} {% block main %}
    {% include 'nav.html' %}
    <div class="container">
        <div class="row">
        {% for campaign in campaigns %}
            <div class="col s12 m6">
                <div class="card purple darken-4 card-list">
                    <div class="card-content white-text">
                        <span class="card-title">{{ campaign.subject }}</span>
                        <p>
                            {{ campaign.email_from }}
                        </p>
                    </div>
                    <div class="card-action">
                         <a href="{% url 'update_campaign' campaign.id %}">
                            Editar campanha
                        </a>
                        <a href="{% url 'delete_campaign' campaign.id %}">
                            Deletar campanha
                        </a>
                    </div>
                    <div class="card-action">
                         <a href="{% url 'send_emails_campaign' campaign.id %}">
                            Enviar emails da campanha
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}